<%- include('partials/head') %> 
<link rel="stylesheet" href="/styles/homeStyles.css">
  
<body>
<%- include('partials/navBar') %> 

<div class="con">
        <section class="content">
            <h1 class="showCaseTitle">Unique and <br>
                Original <br>
                Designs
            </h1>
            <p>
                Shop various shirts from many different colors and sizes. We 
                also sell stickers ranging from all different kinds of designs.
                RetroM has employed many different artist to help create our unique 
                designs. 
            </p>
        
            <a href="/shirt" class="btn btn-success">Shop Now</a>
        </section>
            <img class="showCaseRose" src="rose.jpg">
    </div>
</body>
</html>