<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RetroM</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="#">T-Shirts</a></li>
            <li><a href="#">Stickers</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
    
    <div class="container">
        <section class="content">
            <h1>Unique and <br>
                Original <br>
                Designs
            </h1>

            <p>
                Shop various shirts from many different colors and sizes. We 
                also sell stickers ranging from all different kinds of designs.
                RetroM has employed many different artist to help create our unique 
                designs. 
            </p>
            <button class="firstButt">Shop Now</button>
        </section>
            <img src="rose.jpg" style="width: 300px;">
        </div>
</body>
</html>