<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new</title>
</head>
<body>

    <a href="/shirt">back</a>
    <h1>new</h1>

    <form action="/shirt" method="POST">
        <label for="name">name: </label>
        <input type="text" name="product[name]" id="name">

        <label for="img">image: </label>
        <input type="text" name="product[img]" id="img">

        <label for="price">price: </label>
        <input type="number" name="product[price]" id="price">
<!-- 
        <label for="size">size: </label>
        <input type="text" name="product[size]" id="size"> -->

        <label for="size">size</label>
        <select name="product[size]" id="size">
            <option value="small">S</option>
            <option value="medium">M</option>
            <option value="large">L</option>
        </select>

        <button>add</button>
    </form>
</body>
</html>